"Commands"
{
	"GoonPUG"
	{
		"Live on 3"
		{
			"cmd"			"sm_lo3"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "Pause Match"
		{
			"cmd"			"sm_rcon mp_pause_match 1"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "Unpause Match"
		{
			"cmd"			"sm_rcon mp_unpause_match 1"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "End Match"
		{
			"cmd"			"sm_endmatch"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "Abort Match"
		{
			"cmd"			"sm_abortmatch"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "Restart Match"
		{
			"cmd"			"sm_restartmatch"
			"admin"			"sm_map"
			"execute"		"player"
		}
        
        "Reset Plugin"
		{
			"cmd"			"sm_rcon sm plugins reload goonpug"
			"admin"			"sm_map"
			"execute"		"player"
		}
	}
}